# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
out/

# Maven
target/

# Gradle
build/
.gradle/
gradle/

# Logs
*.log

# Test reports
TEST-*.xml

# Selenium
geckodriver.log
chromedriver.log

# Temporary files
*.tmp

# IDE-specific files
.vscode/